[Interface]
PrivateKey = {{ wireguard_clients_keys[item] }}
Address = {{ wireguard_clients_ips[item] }}
{% if wireguard_clients_dns is defined %}DNS = {{ wireguard_clients_dns }}{% endif %}

[Peer]
PublicKey = {{ wireguard_pub_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wireguard_endpoint | default(ansible_default_ipv4.address) }}:{{ wireguard_server_port }}
