# server
[connection]
id={{ wireguard_iface }}
type=wireguard
interface-name={{ wireguard_iface }}
autoconnect=true
permissions=
zone={{ wireguard_firewalld_zone }}

[wireguard]
listen-port={{ wireguard_server_port }}
private-key={{ wireguard_private_key }}
private-key-flags=0

{% for name in wireguard_clients %}
# {{ name }}
[wireguard-peer.{{ wireguard_clients_pubkeys[name] }}]
allowed-ips={{ wireguard_clients_ips[name] }}/32
{% endfor %}

[ipv4]
address1={{ wireguard_server_ip }}/{{ wireguard_net_prefix }}
method=manual

[proxy]
